body, html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	margin: 0;
}


.custom-title {
	font-size: 1.8rem;
	font-weight: bold;
	background-color: white;
	color: black;
	padding: 5px 10px;
	border-radius: 4px;
}


.main-content {
	background-color: #d9d9d9; /* Fondo gris claro */
	height: calc(100vh - 56px - 40px); /* Altura menos navbar y footer */
}

.profile-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.order-table {
	background-color: white;
}

footer {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 10px 0;
	margin-top: auto;
}


.bg-teal {
	background-color: #00a0a0;
}